<h1>Login Page</h1>

<form action="/crud">
    id:
    <input type="text" name="uname" id="uname" /><br /><br />
    password:
    <input type="password" name="pass" name="pass" /><br /><br />
    <input type="submit" name="submit" value="submit" /><br /><br />

    hint : [ id : 1, password : admin123 ]
</form>