<h1>Delete Movie</h1>
<form action="/crud/delete" method="post">
    <table>

        <tr>
            <td>Id : </td>
            <td><input type="text" name="id" placeholder="id"></td>
        </tr>

       

        <tr>
            <td>
                <input type="submit" value="Delete Movie">
            </td>
        </tr>
    </table>
</form>