<h1>Get Movie</h1>
<form action="/crud/get" method="post">
    <table>

        <tr>
            <td>Id : </td>
            <td><input type="text" name="id" placeholder="id"></td>
        </tr>



        <tr>
            <td>
                <input type="submit" value="Get Movie">
            </td>
        </tr>
    </table>
</form>