<h1>Get Movie By Name</h1>
<form action="/crud/getbyname" method="post">
    <table>

        <tr>
            <td>Name : </td>
            <td><input type="text" name="name" placeholder="name"></td>
        </tr>



        <tr>
            <td>
                <input type="submit" value="Get Movie">
            </td>
        </tr>
    </table>
</form>