<h1> Add New Movie</h1>
<form action="/crud/insert" method="post">
    <table>

        <tr>
            <td>Id : </td>
            <td><input type="text" name="id" placeholder="id"></td>
        </tr>

        <tr>
            <td>Name : </td>
            <td><input type="text" name="name" placeholder="name"></td>
        </tr>

        <tr>
            <td>Rating : </td>
            <td><input type="text" name="rating" placeholder="rating"></td>
        </tr>

        <tr>
            <td>Price : </td>
            <td><input type="text" name="price" placeholder="price"></td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Add Movie">
            </td>
        </tr>
    </table>
</form>