<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>

        function validateName(id,errid){
            var n = document.getElementById(id).value;
            var reg = /\d/;
            if(reg.test(n)){
                document.getElementById(errid).innerHTML="Name Should not contain Digits!!";
                return false;
            }else{
                document.getElementById(errid).innerHTML="";
                return true;
            }
        }

        function validateMobileNo(id,errid){

            var mob = document.getElementById(id).value;

            if(mob.length != 10){
                document.getElementById(errid).innerHTML="Mobile no must be 10 digit!";
                return false;
            }else{
                document.getElementById(errid).innerHTML="";
                return true;
            }

        }

        function validateData(){
            var flag1 = validateName("name","errName");
            var flag2 = validateMobileNo("mobNo","errMob");
            return flag1&&flag2;
        }
    </script>
</head>
<body>
    <form action="insertNewStudent" method="post" onsubmit="return validateData()">
        Name : <input type="text" name="name" id="name" required> 
        Address : <input type="text" name="address" id="address" required> 
        Mobile : <input type="text" name="mobNo" id="mobNo" required> 
        Branch : <input type="text" name="branch" id="branch" required> 
        <input type="submit" value="submit" id="sub" name="submit">
        <span id="errName"></span>
        <span id="errMob"></span>
    </form>
</body>
</html>