<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        text-align: center;
        margin-top: 50px;
    }

    .register-box {
        width: 300px;
        margin: auto;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }

        .register-box h2 {
            margin-bottom: 20px;
        }

        .register-box input[type="text"],
        .register-box input[type="password"],
        .register-box input[type="email"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .register-box input[type="submit"] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

            .register-box input[type="submit"]:hover {
                background-color: #45a049;
            }
</style>


<div class="register-box">
    <h2>Add Product</h2>
    <form action="/Crud/addproduct" method="post">
        <input type="text" name="id" placeholder="id" required>
        <br>
        <input type="text" name="name" placeholder="name" required>
        <br>
        <input type="text" name="description" placeholder="description" required>
        <br>
        
        <input type="text" name="price" placeholder="price" required />
        <br>
             
        <input type="submit" value="Add product">
    </form>
</div>

