<h2>All Products</h2>

@{
    int count = 45;
    //Data Binding
    <p> Result=@count</p>
    <ol>
        @{
            foreach (Product product in Model)
            {
                <li>@product.name</li>
            }
        }
    </ol>
}
