<a href="/crud/getallproducts">Get All Products</a><br />
<a href="/crud/addproduct">Add Product</a>
<br />
<a href="/crud/deleteproduct">Delete product</a>
<br />
<a href="/crud/editproduct"> Update Product</a>
<br />
<a href="/crud/getbyname"> Get Product by name</a>
<br />
<a href="/crud/sortbyname"> sort Product by name</a>
<br />